#user-header {
  position: relative;
  margin-bottom: 150px;
  .cover-image {
    height: 400px;
    width: 100%;
    overflow: hidden;
    > img {
      width: 100%;
      max-width: 100%;
      height: 400px;
    }
  }
  .profile-image {
    position: absolute;
    top: 275px;
    left: 10%;
    max-width: 100%;
    padding: 5px;
    border-radius: 50%;
    background: #FFF;
    > img {
      width: 250px;
      height: 250px;
      max-width: 100%;
      border-radius: 50%;
    }
  }
}

.img-uploader {
    position: absolute;
    height: 400px;
    width: 100%;
    top: 0;
    left: 0;
    background: rgba(0,0,0,.3);
    display: flex;
    justify-content: center;
    align-items: center;
    visibility: hidden;
    opacity: 0;
    transition: .35s;
}

.profile-image {
  > .img-uploader {
    height: 250px;
    width: 250px;
    top: 5px;
    left: 5px;
    max-width: 100%;
    border-radius: 50%;
  }
}

.cover-image,
.profile-image {
  &:hover {
    > .img-uploader {
      opacity: 1;
      visibility: visible;
    }
  }
}

.uploader {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%)
}
