<section id="user-header" *ngIf="user">
  <div class="cover-image">
    <div class="img-uploader" *ngIf="user._id === authUser._id">
      <input type="file" accept="image/*" hidden #cover (change)="uploadCover($event)">
      <button mat-raised-button color="primary" (click)="cover.click()">Upload new cover</button>
    </div>
        <div class="uploader" *ngIf="coverPresent">
        <app-imageuploader
          [value]="coverPresent"
        ></app-imageuploader>
    </div>
    <img [src]="'http://localhost:8080/' + user.cover" alt="cover"/>
  </div>
  <div class="profile-image">
    <div class="img-uploader" *ngIf="user._id === authUser._id">
      <input type="file" accept="image/*" hidden #profile (change)="uploadImage($event)">
      <button mat-raised-button color="primary" (click)="profile.click()">Upload new image</button>
    </div>
    <div class="uploader" *ngIf="imagePresent">
        <app-imageuploader
          [diameter]="50"
          [value]="imagePresent"
        ></app-imageuploader>
    </div>
    <img [src]="'http://localhost:8080/' + user.image" alt="profile">
  </div>
</section>
