<section id="login">
    <div class="container">
      <div class="row">
        <div class="mr-auto col-xl-6 col-lg-7 col-md-8 col-sm-10 col-12">
          <mat-card>
              <h1>Join Us</h1>
              <ng-template [ngIf]="errors?.length > 0">
                <app-error *ngFor="let error of errors" [error]="error"></app-error>
              </ng-template>
              <form novalidate #f="ngForm" (ngSubmit)="login(f)">
                <mat-form-field>
                  <input
                    [(ngModel)]="email"
                    email
                    type="email"
                    pattern="^\w+([\.-]?\w+)*@\w+([\.-]?\w+)*(\.\w{2,3})+$"
                    matInput
                    required
                    placeholder="Email address"
                    name="email">
                </mat-form-field>
                  <mat-form-field>
                      <input
                        ngModel
                        type="password"
                        matInput
                        placeholder="Password"
                        required
                        minlength="6"
                        name="password">
                    </mat-form-field>
                  <div class="flex">
                    <button
                      [disabled]="!f.valid"
                      mat-raised-button
                      color="primary"
                      class="mr-auto"
                      type="submit">Login</button>
                  </div>
              </form>
          </mat-card>
        </div>
      </div>
    </div>
  </section>
