<app-profileheader [user]="user" [authUser]="authUser | async"></app-profileheader>
<div class="container">
  <div class="row">
    <div class="col-12">
      <app-usernavigator [user]="user"></app-usernavigator>
    </div>
  </div>
</div>
