<section id="contact-us">
  <div class="container-fluid">
    <div class="row">
      <agm-map class="col-md-6 col-12" [latitude]="51.678418" [longitude]="7.809007"></agm-map>
      <div class="col-md-6 col-sm-9 mr-auto col-12">
        <mat-card>
          <h5>Contact Us</h5>
          <form novalidate #f="ngForm" (ngSubmit)="onSubmit(f)">
            <mat-form-field>
              <input
                matInput
                ngModel
                type="text"
                name="name"
                minlength="2"
                required
                placeholder="Your name">
            </mat-form-field>
            <mat-form-field>
              <input
              matInput
              ngModel
              type="email"
              name="email"
              placeholder="Your Email"
              email
              required
              pattern="^\w+([\.-]?\w+)*@\w+([\.-]?\w+)*(\.\w{2,3})+$">
            </mat-form-field>
            <mat-form-field>
              <textarea
                matInput
                placeholder="Your Message"
                ngModel
                required
                #message
                minlength="50"
                name="message"></textarea>
                <mat-hint align="end">{{message.value.length}} / 50</mat-hint>
            </mat-form-field>
            <div class="flex">
              <button
                mat-raised-button
                type="submit"
                class="mr-auto"
                color="primary"
                [disabled]="!f.valid">Send Message</button>
            </div>
          </form>
        </mat-card>
      </div>
    </div>
  </div>
</section>
