<section>
  <div class="home-video">
    <video mute autoplay loop>
      <source src="../../../assets/home.mp4" type="video/mp4">
      Your browser does not support the video tag.
    </video>
  </div>
  <div class="home-overlay">
    <div class="container">
      <h1>Ng-Market</h1>
      <h5>for sell services</h5>
      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Facilis repellat harum nostrum aperiam corporis velit repellendus perferendis maxime amet, dolorem aut doloribus quas animi. Dolorem commodi cumque unde repudiandae fugit.</p>
      <button mat-raised-button routerLink="/auth" color="warn">
        Getting started
      </button>
    </div>
  </div>
</section>
