section {
  position: relative;
  .home-video {
    height: 500px;
    width: 100%;
    > video {
      height: 100%;
      width: 100%;
      object-fit: fill
    }
  }
  .home-overlay {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 99;
    background: rgba(0, 0, 0, .5);
    height: 500px;
    width: 100%;
    display: flex;
    align-items: center;
    .container {
      h1 {
        display: inline-block;
        font-size: 65px;
        font-weight: 900;
        color: #FFF;
        margin-bottom: 45px;
      }
      h5 {
        font-size: 60px;
        font-weight: 100;
        margin-bottom: 30px;
        color: #FFF;
      }
      p {
        color: #FFF;
        margin-bottom: 35px;
        line-height: 24px;
        font-size: 16.5px;
      }
      button {
        margin-right: 15px;
      }
    }
  }

}

@media (max-width: 570px) {
  h5 {
    font-size: 35px !important;
  }
}

@media (max-width: 370px) {
  h1 {
    font-size: 35px !important;
  }
}

@media (max-width: 270px) {
  h5 {
    display: none
  }
}
