<mat-toolbar color="primary">
  <mat-toolbar-row>
    <div class="container">
      <div class="row">
        <button
          type="button"
          aria-label="Toggle sidenav"
          mat-icon-button
          (click)="drawer.toggle()"
          *ngIf="show">
          <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
        </button>
        <span class="spacer" *ngIf="!handSet"></span>
        <span routerLink="/">ng-market</span>
        <span class="spacer"></span>
        <ng-template [ngIf]="handSet">
          <button
            mat-button
            routerLink="/"
            routerLinkActive="active"
            [routerLinkActiveOptions]="{exact: true}">home</button>
          <button
            mat-button
            routerLink="/products/1"
            routerLinkActive="active">products</button>
        </ng-template>
        <ng-template [ngIf]="!user && handSet">
          <button
            mat-button
            routerLink="/auth"
            routerLinkActive="active">register</button>
          <button
            mat-button
            routerLink="/auth/login"
            routerLinkActive="active">login</button>
        </ng-template>
        <ng-template [ngIf]="user && handSet">
          <!-- TODO: change these routes into on signle menu -->
          <button
            mat-button
            [routerLink]="'/profile/' + user._id"
            routerLinkActive="active">profile</button>
          <button
            mat-button
            (click)="logout()">logout</button>
          </ng-template>
          <button *ngIf="user" mat-icon-button (click)="openNotification()">
            <mat-icon [matBadge]="(notifications | async).length" matBadgeColor="warn">
              notifications
            </mat-icon>
          </button>
      </div>
    </div>
  </mat-toolbar-row>
</mat-toolbar>
