section {
  margin-bottom: 70px;
  h3 {
    font-size: 40px;
    font-weight: 400;
    text-align: center;
    margin: 70px auto 30px;
  }

  .service {
    h5 {
      font-size: 25px;
      text-align: center;
      font-size: 300
    }
    p {
      font-size: 15px;
      font-weight: 200;
      color: #444;
      line-height: 26px;
    }
  }
}

mat-card {
  margin-bottom: 15px;
}
