<section id="services">
  <div class="container">
    <h3>Our Services</h3>
    <div class="row">
      <div
        class="col-lg-4 col-md-6 mr-auto col-xs-9 col-11"
        *ngFor="let card of ['Good Prices', 'Nice Sales', 'Perfect Support']">
        <mat-card class="service">
          <h5>{{ card }}</h5>
          <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Officiis, impedit delectus? Laborum sequi recusandae autem asperiores quis quaerat odio esse totam, aut aspernatur sunt sit consequuntur.</p>
        </mat-card>
      </div>
    </div>
  </div>
</section>

