mat-toolbar {
  margin-top: 70px;
  h6 {
    text-align: center;
    font-size: 18px;
  }
}

@media (max-width: 410px) {
  h6 {
    font-size: 16px !important;
  }
}

@media (max-width: 370px) {
  mat-toolbar {
    overflow: hidden;
    h6 {
      font-size: 12px !important;
      word-break: break-all
    }
  }
}
