<ng-template [ngIf]="products?.length">
  <app-pagenumbers [n]="n" [count]="count"></app-pagenumbers>
  <div class="container">
    <div class="row">
      <div
        class="col-12 mr-auto col-xl-4 col-lg-4 col-md-6 col-sm-8"
        *ngFor="let product of products; let i = index">
        <app-product
          [isHandset]="isHandset$ | async"
          (openModule)="openModule($event)"
          [i]="i"
          [product]="product"></app-product>
      </div>
    </div>
  </div>
  <app-pagenumbers [n]="n" [count]="count"></app-pagenumbers>
</ng-template>
<app-productinfo *ngIf="!(isHandset$ | async)"></app-productinfo>
