<mat-sidenav-container class="sidenav-container">
  <mat-sidenav
    #drawer
    class="sidenav"
    fixedInViewport="true"
    [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
    [mode]="(isHandset$ | async) ? 'over' : 'side'"
    opened="false">
    <app-sidenavlinks></app-sidenavlinks>
  </mat-sidenav>
  <mat-sidenav-content>
    <app-notifications [open]="open" (closeNotificaiton)="open = false"></app-notifications>
    <main #appLayout>
        <app-navbar
          (notification)="open = true"
          [handSet]="!(isHandset$ | async)"
          [drawer]="drawer"
          [show]="isHandset$ | async"
          [user]="user$ | async"></app-navbar>
        <ng-content></ng-content>
        <app-loading *ngIf="loading$ | async"></app-loading>
    </main>
  </mat-sidenav-content>
</mat-sidenav-container>
