section {
  min-height: 300px;
  background: url('../../../../assets/home.jpg');
  background-size: cover;
  background-position: center center;
  background-attachment: fixed;
  > div {
    min-height: 300px;
    background: rgba(0,0,0,.5);
    > div {
      min-height: 300px;
      display: flex;
      align-items: center;
      h6 {
        font-size: 60px;
        font-weight: 300;
        color: #FFF;
      }
    }
  }
}

@media (max-width: 780px) {
  section {
    h6 {
      font-size: 40px !important;
    }
  }
}

@media (max-width: 445px) {
  section {
    h6 {
      font-size: 25px !important;
      line-height: 35px;
    }
  }
}
