/* You can add global styles to this file, and also import other style files */

html,
body {
  height: 100%;
}

body {
  margin: 0;
  font-family: 'Roboto', sans-serif;
}

.flex {
  display: flex
}

.mr-auto {
  margin-left: auto !important;
  margin-right: auto !important
}

.spacer {
  flex: 1 1 auto
}

mat-dialog-container {
  max-height: calc(100vh - 30px) !important;
}

.agm-map-container-inner.sebm-google-map-container-inner {
  width: 100% !important
}
