<mat-tab-group *ngIf="user">
  <mat-tab label="Information">
    Info component
  </mat-tab>
  <mat-tab label="Products">
    <app-userproducts [id]="user._id"></app-userproducts>
  </mat-tab>
  <mat-tab label="Wishlist">
    user wishlist
  </mat-tab>
  <mat-tab label="Setting">
    user setting
  </mat-tab>
</mat-tab-group>
