<div class="container">
  <div class="row">
    <div
      class="col-12 mr-auto col-xl-4 col-lg-4 col-md-6 col-sm-8"
      *ngFor="let product of products">
      <app-product [product]="product"></app-product>
    </div>
  </div>
</div>
