mat-card {
  height: 100%;
  padding-bottom: 54px;
  > img {
    height: 200px;
  }
  mat-card-header {
    mat-card-title {
      font-size: 18.5px;
      line-height: 40px;
    }
    div:last-of-type {
      margin-left: auto;
      h4 {
        font-size: 20px;
        line-height: 40px;
        margin: 0 !important;
        font-weight: 300
      }
      &.sale {
        height: 40px !important;
        margin-top: 2px !important;
        h4 {
          position: relative;
          top: -10px;
        }
        p {
          position: relative;
          display: inline-block;
          padding: 0 5px;
          font-size: 15px;
          top: -20px;
          left: -20px;
          color: #838282;
          font-weight: 100;
          &::after {
            position: absolute;
            content: "";
            width: 100%;
            height: 1px;
            background: #838282;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
          }
        }
      }
    }
  }
  mat-card-actions {
    display: flex;
    justify-content: space-around;
    position: absolute;
    width: 100%;
    bottom: 24px;
  }
  mat-divider {
    position: absolute;
    bottom: 55px;
  }
  mat-icon {
    color: rgb(66, 66, 66)
  }
  img {
    outline: none !important;
    cursor: pointer;
  }
}
