<mat-card>
  <img
    matCardImage
    [src]="product.image"
    [routerLink]="'/product/' + product._id"
    [alt]="product.name"><!-- TODO: remove image variable  [product.image] => [product.images[0]]-->
  <mat-card-header>
      <img
          [routerLink]="'/product/' + product.ownerId"
          mat-card-avatar
          [src]="product.ownerImg"
          [alt]="product.owner"
          [matTooltip]="product.owner">
        <mat-card-title>
          {{ product.title | shorten:10 }} <!-- [tittle] => [name]-->
        </mat-card-title>
      <div [ngClass]="{'sale': false}"> <!-- TODO: add sale in backend -->
        <h4>{{ '30' | currency }}</h4>
        <p *ngIf="false">{{ '50' | currency }}</p>
      </div>
  </mat-card-header>
  <app-rate [rate]="product.rate"></app-rate>
  <mat-card-content>
    {{ product.describtion | shorten:85 }}
  </mat-card-content>
  <ng-template [ngIf]="true">
      <mat-divider></mat-divider>
      <mat-card-actions>
          <button mat-icon-button matTooltip="Add to cart">
            <mat-icon>favorite</mat-icon>
          </button>
          <button mat-icon-button matTooltip="Add to wishlist">
            <mat-icon>list</mat-icon>
          </button>
          <button
            mat-icon-button
            (click)="onOpenModule()"
            matTooltip="Show details">
            <mat-icon>info</mat-icon>
          </button>
      </mat-card-actions>
  </ng-template>
</mat-card>
