<section>
  <div class="images-section" *ngIf="images?.length > 0">
    <div>
      <img class="main-img" [src]="selectedImg" />
    </div>
    <div>
      <img (click)="changeImage(img)" [src]="img" *ngFor="let img of images"/>
    </div>
  </div>
</section>
