.images-section {
  margin-right: 15px;
  img.main-img {
    height: 250px;
    width: 250px;
  }
  > div:last-of-type {
    margin-top: 15px;
    display: flex;
    justify-content: space-between;
    > img {
      height: 50px;
      width: 50px;
      cursor: pointer;
    }
  }
}

@media (max-width: 850px) {
  section {
    display: flex !important;
    width: 100%;
  }
  .images-section {
    display: flex;
    flex-wrap: wrap;
    > div {
      margin-left: 15px;
      flex-direction: column;
      margin-top: 0 !important;
    }
  }
}

@media (max-width: 520px) {
  .images-section {
    justify-content: center;
    margin: 0 !important;
    > div {
      margin-left: 0 !important;
      flex-direction: row !important;
      margin-top: 15px !important;
      justify-content: space-between;
      width: 250px;
    }
  }
}


@media (max-width: 400px) {
  img.main-img {
    height: auto !important;
    width: 100% !important;
    max-width: 100% !important;
  }
}
