<section *ngIf="count" class="flex">
  <div class="mr-auto">
    <ng-template [ngIf]="count > 3">
      <button
        [disabled]="n === 1"
        mat-raised-button
        routerLink="/products/1">
        <mat-icon>first_page</mat-icon>
      </button>
      <button
        *ngFor="let i of pagesArray"
        mat-raised-button
        [routerLink]="'/products/' + (n + i)"
        [color]="(n + i) === n ? 'primary' : false"
        >
        {{ n + i }}
      </button>
      <button
        [disabled]="n === count"
        mat-raised-button
        [routerLink]="'/products/' + count">
        <mat-icon>last_page</mat-icon>
    </button>
    </ng-template>
    <ng-template [ngIf]="count === 2 || count === 3">
      <button
        *ngFor="let i of count === 2? [1, 2] : [1, 2, 3]"
        mat-raised-button
        [routerLink]="'/products/' + i"
        [color]="i === n? 'primary' : false"
        >
        {{ i }}
      </button>
    </ng-template>
  </div>
</section>

