#product-info {
  >section {
    display: flex;
    justify-content: start;
    flex-direction: row-reverse;
    .info-section {
      width: 100%;
      h3 {
        text-align: center;
        text-transform: capitalize;
        margin-bottom: 15px;
        margin-top: 0;
        font-weight: 400;
        font-size: 22px
      }
      p {
        line-height: 24px;
        margin-top: 0
      }
    }
  }
  mat-divider {
    margin: 20px 0;
  }
  span.date {
    font-size: 13px;
    position: relative;
    top: -15px;
    color: #999
  }
  .seller-info {
    .main-info {
      display: flex;
      justify-content: start;
      align-items: center;
      img {
        border-radius: 50%;
        height: 50px;
        width: 50px;
        margin-right: 15px;
      }
      h6 {
        font-size: 18px;
        font-weight: 300;
        margin: 0
      }
      span.date {
        top: -2px !important
      }
    }
    p {
      line-height: 24px;
    }
  }
}

.rate-price {
  display: flex;
  justify-content: space-between;
  align-items: center;
  p {
    font-size: 19px;
    font-weight: 200;
    margin: 0 !important;
    margin-top: -18px !important;
  }
}


.images-divider {
  margin: 20px 0;
  display: none !important;
  width: 100%;
}

@media (max-width: 850px) {
  #product-info {
    >section {
      flex-wrap: wrap;
      justify-content: center;
    }
  }
  .images-divider {
    display: block !important;
  }
}
