<section id="product-info">
  <section>
    <div class="info-section">
      <h3>{{ product.title }}</h3> <!-- TODO: title => name -->
      <div class="rate-price">
        <div>
          <app-rate [rate]="product.rate"></app-rate>
          <span class="date">{{ product.date }}</span>
        </div>
        <p>{{ '50' | currency }}</p>
      </div>
      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Sint, consequatur temporibus! Necessitatibus sunt repudiandae accusantium non inventore sed nesciunt sint, saepe minus soluta corporis quia consequatur beatae, maxime facere, illo praesentium error. Voluptatem qui quisquam similique. Sequi maxi olor sit amet consectetur adipisicing elit. Sint, consequatur temporibus! Necessitatibus sunt repudiandae accusantium non inventore sed nesciunt sint, saepe minus soluta corporis quia consequatur beatae, maxime facere, illo praesentium error. Voluptatem qui quisquam similique. Sequi maxi me in quia.</p>
      <div class="actions-section">
        <button mat-button color="primary">Add to cart</button>
        <button mat-button color="warn">Add to wishlist</button>
      </div>
    </div>
    <mat-divider class="images-divider"></mat-divider>
    <app-productimages [images]="['http://placehold.it/250x250/34495e', 'http://placehold.it/250x250/green', 'http://placehold.it/250x250/red']"></app-productimages>
  </section>
  <mat-divider></mat-divider>
  <div class="seller-info">
    <div class="main-info">
      <img src="http://placehold.it/50x50/34495e"/>
      <div>
        <h6>seller name</h6>
        <span class="date">24/6/2017</span>
      </div>
    </div>
    <p class="about">
      Lorem ipsum, dolor sit amet consectetur adipisicing elit. Nobis alias vel sed labore dolorem quibusdam magni, quos ratione voluptatem voluptates earum perferendis accusantium autem laboriosam!
    </p>
  </div>
  <div class="seller-action">
    <button mat-button color="accent">Visit seller profile</button>
  </div>
</section>
