.overlay {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 9999;
  height: 100vh;
  width: 100%;
  background: rgba(0,0,0,.6);
  opacity: 0;
  visibility: hidden;
  transition: .35s;
  &.active {
    opacity: 1 !important;
    visibility: visible !important
  }
}

.notifications {
  position: fixed;
  right: -250px;
  top: 0;
  z-index: 99999;
  height: 100vh;
  max-width: 100%;
  width: 250px;
  background: #FFF;
  overflow: auto;
  visibility: hidden;
  transition: .35s;
  > button {
    width: 100%;
    padding: 10px 0;
  }
  &.active {
    right: 0;
    visibility: visible !important
  }
}


.notification-audio {
  height: 0;
  width: 0;
  display: none;
  visibility: hidden;
  overflow: hidden;
}
