<section class="overlay" (click)="close()" [ngClass]="{'active': open}"></section>
<div class="notifications" [ngClass]="{'active': open}">
    <button
      mat-button
      *ngFor="let notification of (notifications | async); let i = index"
      (click)="removeNotification(i)">
      {{ notification }}
    </button>
</div>
