<div  [matTooltip]="rate == 0 ? 'No rate' : fixedRate + ' / 5'" matTooltipPosition="right" [ngStyle]="{'width': '86px'}">
  <div class="rate">
    <div [ngStyle]="{'width': ((rate/5) * 86 + 'px')}"></div>
  </div>
</div>
